/* Fonts */

@font-face {
    font-family: 'jura';
    src: url(/app/fonts/Jura-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jura-bold';
    src: url(/app/fonts/Jura-Bold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}