:root {
  font-size: 16px;
  --primary: #1B7F79;
  --dark-primary: #0B645E;
  --dark-primary80: rgba(11, 100, 94, 0.8);
  --black: #000000;
  --white: #F8F8F8;
  --grey50: rgba(0, 0, 0, 0.05);
  --secondary: #CA4F0A;
}

@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(../fonts/jura.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* RESET  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}

a {
  color: var(--white);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  a {
    color: var(--dark-primary);
    transition: 0.25s ease-in-out;
  }
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input[type=submit] {
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

body {
  color: var(--black);
  background-color: var(--white);
  font-family: "jura";
  font-size: 1rem;
}

input[type=color] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
}

/* UTILS  */

.container {
  max-width: 92.5rem;
  margin: 1.25rem;
}

.container--btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 2.5rem 0;
}

.up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

@media screen and (min-width: 764px) {
  .container {
    margin: auto;
  }
}

/* Hamburger */

@media screen and (max-width: 768px) {
  .hamburger__link {
    font-size: 1.25rem;
  }

  .hamburger__menu {
    z-index: 1;
    min-width: 100%;
    min-height: 22.5rem;
    position: fixed;
    top: 4rem;
    left: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 1.25rem;
    transition: all 0.3s ease-in-out;
  }

  .hamburger__menu.overlay {
    color: var(--white);
    font-size: 2rem;
    visibility: visible;
    opacity: 1;
    background: var(--dark-primary);
    line-height: 4;
  }
}

@media screen and (min-width: 764px) {
  .hamburger {
    display: none;
  }
}

/* HEADER  */

.header {
  display: flex;
  padding: 0.5rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #1B7F79;
}

.header__separator {
  color: var(--secondary);
}

/* NAV  */

.nav__lnk--current {
  color: var(--secondary);
  font-weight: bold;
}

/* TITLES */

.ttl {
  font-family: 'jura';
  font-size: 2rem;
  color: var(--dark-primary);
}

.ttl--bold {
  font-family: 'jura';
  font-weight: bold;
  padding: 1rem;
}

.ttl--small {
  font-size: 1.5rem;
}

.ttl--white {
  font-size: 1.25rem;
  color: var(--white);
}

/* FORM  */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

.form__input {
  width: 13.75rem;
  padding: 0.5rem;
  border: 2px solid var(--primary);
  background-color: var(--grey50);
}

.form_input:focus-visible {
  outline-color: var(--secondary);
}

.form_input:hover {
  outline-color: var(--secondary);
}

.form__submit {
  background-image: url(../img/add-task.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5rem;
  color: var(--white);
  width: 2.25rem;
  aspect-ratio: 1/1;
  border-radius: .5rem;
}

.form__input__placeholder {
  color: var(--secondary);
}

/* BUTTONS  */

.btn {
  font-family: 'jura';
  font-weight: bold;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 0.75rem;
  width: 8.625rem;
  padding: 0.5rem;
  text-align: center;
  transition: 0.25s ease-in-out;
}

.btn:hover {
  background-color: var(--secondary);
}

.btn--minus {
  background-image: url(../img/minus-btn.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  transition: 0.25s ease-in-out;
  /* background-color: var(--primary); */
}

.btn--minus--active {
  background-image: url(../img/minus-btn-active.svg);
}

.btn--priority {
  background-image: url(../img/priority-btn.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  transition: 0.25s ease-in-out;
}

.btn--priority--active {
  background-image: url(../img/priority-btn-active.svg);
}

.btn--pen {
  background-image: url(../img/pen-btn.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 2.25rem;
  max-width: 2rem;
  aspect-ratio: 1/1;
  transition: 0.25s ease-in-out;
}

.btn--pen--active {
  background-image: url(../img/pen-btn-active.svg);
}

.btn--tool {
  background-image: url(../img/tool-left.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 2.25rem;
  max-width: 2.25rem;
  aspect-ratio: 1/1;
  background-color: var(--primary);
  border-radius: .25rem;
}

.btn--tool--clicked {
  background-image: url(../img/tool-right.svg);
  background-color: var(--secondary);
}

.btn--up {
  background-image: url(../img/btn--up.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5rem;
  color: var(--white);
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: .5rem;
}

.btn--theme {
  background-image: url(../img/theme-btn.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  transition: 0.25s ease-in-out;
}

.btn--theme--active {
  background-image: url(../img/theme-btn-active.svg);
}

/* LINK  */

.lnk--theme {
  background-image: url(../img/theme-btn.svg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 1.25rem;
  aspect-ratio: 1;
}

/* TASKLIST  */

@media screen and (min-width: 768px) {
  .tasklist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

/* TASK  */

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 45.5rem;
  border: 2px solid var(--primary);
  padding: 0.5rem;
  border-radius: 1.25rem;
  margin: 1.25rem 0;
  gap: 0.75rem;
  background-color: var(--white);
}

.task__number {
  font-weight: bold;
  color: var(--secondary);
}

.task__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  margin: 0 0.5rem;
}

.task__content--date-and-level {
  justify-content: space-between;
}

.task-content--deadline {
  justify-content: flex-start;
  width: 100%;
}

/* DEADLINE */

.deadline {
  color: var(--secondary);
}

/* NOTIFS  */

.notif {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin-top: 1.5rem;
}

.notif--error {
  color: var(--secondary);
}

.notif--error--big {
  font-size: 1.5rem;
}

.notif--success {
  color: var(--dark-primary);
}

@media screen and (max-width: 768px) {
  .notif--error--big {
    font-size: 1.25rem;
    text-align: center;
  }
}


/* ALL DONE  */

.all-done {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border-radius: 1.25rem;
}

@media screen and (min-width: 768px) {
  .all-done {
    margin-bottom: 1.5rem;
  }
}

/* CHECK  */

.check {
  color: var(--secondary);
  font-size: 2rem;
}

/* FOOTER  */

.footer {
  display: flex;
  justify-content: center;
  color: var(--white);
  background-color: var(--primary);
  padding: 2rem;
}

.hidden {
  display: none;
}